<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.network" />

    <application android:name="com.alancamargo.tweetreader.FreeApplication"
        tools:replace="android:name">

    </application>

</manifest>
